@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #073B4C;
  color: #ffffff;
}

.btn-red {
  background-color: #D72638;
  border-color: #D72638;
  color: #ffffff;
}

.btn-red:hover {
  background-color: #c32232;
  border-color: #c32232;
}

.btn-blue {
  background-color: #35a2b1;
  border-color: #35a2b1;
  color:#ffffff;
}

.btn-blue:hover, .btn-blue:active:focus {
  background-color: #297e89;
  border-color: #297e89;
}

.btn-green {
  background-color: #569207;
  border-color: #569207;
  color: #ffffff
}

.btn-green:hover, .btn-green:active:focus {
  background-color: #477a06;
  border-color: #477a06
}

.navbar {
  background-color: #073B4C;
  position: sticky;
  top: 0;
  z-index: 3;
  width: 100%;
}

.italic {
  font-style: italic;
}

.volume-card {
  background: transparent;
  color: white;
  border: white 1px solid;
  padding: .5rem;
}

.edit-link-btn {
  background: transparent;
  border-color: transparent;
  color: #73c20d;
}

.edit-link-btn:hover, .edit-link-btn:active:focus {
  background: transparent;
  border-color: transparent;
  color: white;
}

.delete-link-btn {
  background: transparent;
  border-color: transparent;
  color: #ff6a79;
}

.delete-link-btn:hover, .delete-link-btn:active:focus {
  background: transparent;
  border-color: transparent;
  color: white;
}

.add-link-btn {
  background: transparent;
  border-color: transparent;
  color: #4adef1;
}

.add-link-btn:hover, .add-link-btn:active:focus {
  background: transparent;
  border-color: transparent;
  color: white;
}

.search-manga {
  border-radius: 0 5px 5px;
}

.btn-clear, .btn-clear:active:focus {
  background-color: transparent;
  border-color: transparent;
  color: #ff6a79;
}

.btn-clear:hover {
  background-color: transparent;
  border-color: transparent;
  color: #ffffff;
}

.card-dropdown {
  background-color: transparent;
  border-radius: 2;
  color: #073B4C;
  border: solid #073B4C 1px;
}

.card-dropdown:focus {
  background-color: #073B4C;
  color: white;
}

.offcanvas {
  background-color: #073B4C;
  color: white;
}

.link-blue {
  color: #79e5f3;
  font-style: italic;
}

.series-card {
  width: 14rem;
  margin: 10px;
  color: black;
}

.rec-card {
  background-color: transparent;
  color: white;
  border: none;
}

.list-group-item {
  background-color: transparent;
  color: white;
}

.accordion-button {
  font-size: large;
  padding: 20px;
  color: #073B4C;
}

.btn-home {
  background-color: transparent;
  border-color: #ffffff;
  color:#ffffff;
  height: 175px;
  width: 133px;
  text-align: center;
}

.btn-home:hover, .btn-home:active:focus {
  background-color: #0d6c8c;
  color: #ffffff;
}
